# Ignore node_modules as we will install them in the Docker container
node_modules
npm-debug.log
yarn-error.log

# Ignore logs
logs
*.log

# Ignore environment variables and secrets
.env
*.env

# Ignore local directories and files
.git
.gitignore

# Ignore test files and directories
test
__tests__
coverage

# Ignore temporary files
.DS_Store
Thumbs.db

# Ignore IDE and editor settings
.vscode
.idea
*.sublime-workspace
*.sublime-project

# Ignore Docker-related files
Dockerfile
docker-compose.yml
